.login-box {
  border: 1px solid black;
  background-color: lightblue;
  padding: 30px;
}

.login-box > * {
  padding: 10px;
}

.login-box > * input {
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}

.login-box > * button {
  padding: 10px;
  margin-top: 20px;
  width: 100%;
}
