.input-box {
}

.input-container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  row-gap: 10px;
}

.input-container > form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.input-container > form > p > textarea,
input {
  width: 100%;
  padding: 5px;
}

.input-container > form > p > button {
  width: 100%;
  padding: 10px;
}

.editInput-form {
  display: flex;
  flex-direction: column;
}

.editInput-form > * {
  margin: 10px;
  padding: 10px;
}

.inputArray {
  border: 1px solid black;
  margin: 10px;
}

.inputArray > * {
  margin: 10px;
  padding: 10px;
}

.inputArray-btn-grp {
  display: flex;
  justify-content: space-between;
}

.inputArray-btn-grp > button {
  padding: 10px;
}

.editInput {
  position: fixed;
  z-index: 999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editInput-bg {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.editInput-content {
  position: relative;
  width: 500px;
  height: max-content;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}
